[submodule "dsp/dsp_assignment_1"]
	path = dsp/dsp_assignment_1
	url = git@github.com:ronlv4/dsp_assignment_1.git
[submodule "ppl/ppl_assignment_1"]
	path = ppl/ppl_assignment_1
	url = git@github.com:ronlv4/ppl_assignment_1.git
[submodule "ppl/ppl_assignment_2"]
	path = ppl/ppl_assignment_2
	url = git@github.com:ronlv4/ppl_assignment_2.git
[submodule "ppl/ppl_assignment_3"]
	path = ppl/ppl_assignment_3
	url = git@github.com:ronlv4/ppl_assignment_3.git
[submodule "computer_architecture/computer_architecture_0"]
	path = computer_architecture/computer_architecture_0
	url = git@github.com:ronlv4/computer_architecture_0.git
[submodule "computer_architecture/computer_architecture_1"]
	path = computer_architecture/computer_architecture_1
	url = git@github.com:ronlv4/computer_architecture_1.git
[submodule "extended_lab/extended_lab_0"]
	path = extended_lab/extended_lab_0
	url = git@github.com:ronlv4/extended_lab_0.git
[submodule "extended_lab/extended_lab_1"]
	path = extended_lab/extended_lab_1
	url = git@github.com:ronlv4/extended_lab_1.git
[submodule "extended_lab/extended_lab_2"]
	path = extended_lab/extended_lab_2
	url = git@github.com:ronlv4/extended_lab_2.git
[submodule "extended_lab/extended_lab_3"]
	path = extended_lab/extended_lab_3
	url = git@github.com:ronlv4/extended_lab_3.git
[submodule "extended_lab/extended_lab_4"]
	path = extended_lab/extended_lab_4
	url = git@github.com:ronlv4/extended_lab_4.git
[submodule "extended_lab/extended_lab_5"]
	path = extended_lab/extended_lab_5
	url = git@github.com:ronlv4/extended_lab_5.git
